<div class="p-4 bg-transparent mb-4">
  <div class="flex justify-between items-center container mx-auto">
    <div class="flex items-center">
      <!-- <img src="assets/images/logo.png" alt="logo" class="size-10" /> -->
      <h1 class="text-2xl font-bold">
        Bank<span class="text-blue-500">App</span>
      </h1>
    </div>
    @if(isLoggedIn$()) {
    <div class="flex items-center gap-4">
      <app-user></app-user>
      <app-button
        label="Logout"
        (onClick)="logout()"
        variant="fill"
      ></app-button>
    </div>
    } @else {
    <div class="flex items-center gap-4">
      <app-button
        label="Login"
        (onClick)="login()"
        variant="outline"
      ></app-button>
      <app-button
        label="Register"
        (onClick)="register()"
        variant="fill"
      ></app-button>
    </div>
    }
  </div>
</div>
