<!-- <div class="topnav">
  <button
    [routerLink]="['']"
    routerLinkActive="active-button"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button [routerLink]="['login']" routerLinkActive="active-button">
    Login
  </button>
  <button [routerLink]="['register']" routerLinkActive="active-button">
    Register
  </button>
  <div class="logout-container">
    @if(userLoggedIn) {
    <div>
      <p>{{ userName }}</p>
      <button (click)="logout()">Log Out</button>
    </div>
    }
  </div>
</div> -->

<app-navbar></app-navbar>

<div style="padding-left: 16px">
  <router-outlet></router-outlet>
</div>
