<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />
    <app-form-error
      [control]="registerForm.get('username')"
      fieldName="username"
    ></app-form-error>
  
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <app-form-error
      [control]="registerForm.get('password')"
      fieldName="Password"
    ></app-form-error>
  
    <label for="image">Image:</label>
    <input type="text" id="image" formControlName="image" />
    <app-form-error
      [control]="registerForm.get('image')"
      fieldName="Image"
    ></app-form-error>
  
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
  <label style="color:red;">{{ errorLabel }}</label>
  