<div
  [@openClose]="isCardOpen ? 'active' : 'inactive'"
  class="card"
  (click)="toggleCard()"
>
  <div class="card-back">
    <h3>{{ cardTitle }}</h3>
    <p>{{ amount | currency : "KWD" : "symbol" }}</p>
  </div>
  <div class="card-front">
    <img
      src="https://download.logo.wine/logo/Mastercard/Mastercard-Logo.wine.png"
    />
  </div>
  <!-- <div class="card-face card-face__layout">Balance: 10,233 KWD</div>
      <div class="card-face card-face__layout back">
        <img src="../../../assets/images/visa-logo.png" style="width: 200px" />
        <span></span>
      </div> -->
</div>
