<div
  class="flex flex-col md:flex-row justify-between items-center py-4 gap-4"
>
  <div class="flex flex-col md:flex-row items-center gap-4">
    <h3 class="text-2xl font-bold">My Transactions</h3>

    <div class="flex flex-col">
      <label for="category" class="text-sm font-medium mb-1">Filter by Type</label>
      <select
        id="category"
        [(ngModel)]="type"
        class="border p-2 rounded w-48"
      >
        <option value="all">All</option>
        <option value="deposit">Deposit</option>
        <option value="withdraw">Withdraw</option>
        <option value="transfer">Transfer</option>
      </select>
    </div>
  </div>

  <div class="left-side">
    <div class="flex gap-2 items-center">
      <app-modal
        [modalId]="'transaction-modal'"
        [modalTitle]="'Add Transaction'"
        [buttonTitle]="'Add Transaction'"
        [buttonVariant]="'fill'"
        (modalClosed)="onModalClosed()"
      >
        <app-transactions-form
          [modalId]="'transaction-modal'"
          (formSubmitted)="onModalClosed()"
        ></app-transactions-form>
      </app-modal>

      <app-modal
        [modalId]="'transfer-modal'"
        [modalTitle]="'Transfer'"
        [buttonTitle]="'Transfer'"
        [buttonVariant]="'outline'"
        (modalClosed)="onModalClosed()"
      >
        <app-transfer-form
          [modalId]="'transfer-modal'"
          (formSubmitted)="onModalClosed()"
        ></app-transfer-form>
      </app-modal>
    </div>
  </div>
</div>

@if (loading) {
<div class="flex justify-center items-center p-8">
  <div
    class="animate-spin rounded-full h-8 w-8 border-2 border-b-2 border-r border-amber-500"
  ></div>
  <span class="ml-2">Loading transactions...</span>
</div>
} @else {
<app-data-table
  class="overflow-x-auto"
  [data]="transactionsData() | search: type"
  [headerKeys]="[
    'id',
    'type',
    'amount',
    'from',
    'to',
    'createdAt',
    'updatedAt'
  ]"
>
</app-data-table>
}
