<div
  class="flex w-full justify-between items-center py-4 overflow-x-auto max-w-full"
>
  <div class="right-side">
    <h3 class="text-2xl font-bold">My Transactions</h3>
  </div>
  <div class="left-side">
    <div class="flex gap-2 items-center">
      <app-modal
        [modalId]="'transaction-modal'"
        [modalTitle]="'Add Transaction'"
        [buttonTitle]="'Add Transaction'"
        [buttonVariant]="'fill'"
        (modalClosed)="onModalClosed()"
      >
        <app-transactions-form
          [modalId]="'transaction-modal'"
          (formSubmitted)="onModalClosed()"
        ></app-transactions-form>
      </app-modal>

      <app-modal
        [modalId]="'transfer-modal'"
        [modalTitle]="'Transfer'"
        [buttonTitle]="'Transfer'"
        [buttonVariant]="'outline'"
        (modalClosed)="onModalClosed()"
      >
        <app-transfer-form
          [modalId]="'transfer-modal'"
          (formSubmitted)="onModalClosed()"
        ></app-transfer-form>
      </app-modal>
    </div>
  </div>
</div>

@if (loading) {
<div class="flex justify-center items-center p-8">
  <app-loader></app-loader>
</div>
} @else {
<app-data-table
  class="overflow-x-auto"
  [data]="transactionsData()"
  [headerKeys]="[
    'id',
    'type',
    'amount',
    'from',
    'to',
    'createdAt',
    'updatedAt'
  ]"
>
</app-data-table>
}
