/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
